@font-face {
    font-family: 'OldEnglish'; /* Name your font family */
    src: url('OldeEnglishRegular-Zd2J.ttf'); /*fon Locate the .ttf file within your directory*/
  }
h1{
			font-family: 'OldEnglish', sans-serif;
			font-size:70px;
		}
label{
	font-size:30px;
}
input{
	height: 20px;	
}
body {
			background-color: #000000;
			color: #ffffff;
			
			
}
.Bulgaria{position: absolute; top: 240px; left: 1400px}
.text1{color:#0000FF;}
.div2{position: absolute; top: 200px; left: 1400px}
.text2{color:#00FF00;}
.div2{position: absolute; top: 300px; left: 800px}
.text3{color:#FF0000;}
.div3{position: absolute; top: 450px; left: 1700px}
.text4{color:#00FFFF;}
.div4{position: absolute; top: 550px; left: 600px}
.text5{color:#FF00FF;}
.div5{position: absolute; top: 650px; left: 1300px}
.text6{color:#FFFF00;}
.div6{position: absolute; top: 750px; left: 950px}
.text7{color:#0000FF;}
.div7{position: absolute; top: 850px; left: 1800px}
.text8{color:#0000FF;}
.div8{position: absolute; top: 950px; left: 600px}
.text9{color:#0000FF;}
.div9{position: absolute; top: 950px; left: 1400px}
.text10{color:#F0F0F0;}
.div10{position: absolute; top: 1150px; left: 1050px}
.text11{color:#FFF000;}
.div11{position: absolute; top: 1250px; left: 1400px}
.text12{color:#000FFF;}
.div12{position: absolute; top: 1350px; left: 400px}
.text13{color:#F0000F;}
.div13{position: absolute; top: 1450px; left: 1800px}
.text14{color:#0F00F0;}
.div14{position: absolute; top: 1550px; left: 750px}
.text15{color:#000000;}
.div15{position: absolute; top: 1650px; left: 1100px}
.text5{color:#0000FF;}